# Application
ENV=
HOST=
PORT=

# URLs
FRONTEND_URLs=
COOKIE_DOMAIN=                         
FORWARDED_ALLOW_IPS=                   

# Database
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

DB_URL=mysql+aiomysql://<user>:<pw-user>@<host>:<port>/<db>
TEST_DB_URL=mysql+aiomysql://<user>:<pw-user>@<host>:<port>/<db>

# Redis
REDIS_URL=redis://<host>:<port>

# JWT
JWT_KEYS_DIR=keys
JWT_ACTIVE_KID=iam-key-1
JWT_ISSUER=iam
JWT_REFRESH_SECRET=

# Rate limit (global, per IP)
GLOBAL_RATE_LIMIT=
GLOBAL_RATE_WINDOW=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Cloudflare Tunnel
TUNNEL_TOKEN=<token_tunnel>
