# Application 
ENV=development
HOST=localhost
PORT=9001

# URLs
FRONTEND_URL=http://localhost:9000
COOKIE_DOMAIN=

# Database
MYSQL_ROOT_PASSWORD=QWE123
DB_NAME=starter_db
DB_USER=fastapi
DB_PASSWORD=qwe123

DB_URL=
TEST_DB_URL=

# Redis
REDIS_URL=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Google Oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=