# keypair
keys/

# plaintext hasil decrypt (jangan commit)
runtime/

# secret terenkripsi
!secrets/keys/
!secrets/keys/**

# pytho bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment
.venv/
venv/
env/

# environment variables
.env
.env.*
!.env.example

# IDE & OS files
.vscode/
.idea/
.DS_Store
pyrefly.toml

# Alembic
alembic/versions/*.pyc

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

